* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}


img{
    height: 150px;
}
body{
    padding: 30px;
}

.playground{
    height: 80%;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    border: 5px solid black;
    position: relative;
}

.images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img:active{
    scale: 0.95;
}

.playground img{
    position: absolute;
}