* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(166, 233, 255);    
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    text-align: center;
    gap: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card h3{
    font-size: 25px;
    color: royalblue;
}
.card p{
    color: #999;
    font-weight: 600;
}